/* screen - desktop-home */

.desktop-home {
  align-items: flex-start;
  background-color: var(--cararra);
  border: 1px none;
  display: flex;
  width: 1440px;
}

.desktop-home .overlap-group23 {
  height: 1865px;
  position: relative;
  width: 1440px;
}

.desktop-home .footer {
  align-items: flex-start;
  background-color: var(--fuscous-gray);
  display: flex;
  flex-direction: row;
  height: 304px;
  justify-content: flex-start;
  left: 0;
  mix-blend-mode: normal;
  padding: 53px 32px;
  position: absolute;
  top: 1561px;
  width: 1440px;
}

.desktop-home .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  min-height: 155px;
  width: 326px;
}

.desktop-home .mapping-western-han-2 {
  width: 326px;
}

.desktop-home .group-container {
  height: 97px;
  position: relative;
  width: 326px;
}

.desktop-home .clip-path-group {
  height: 94px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 96px;
}

.desktop-home .group {
  height: 19px;
  left: 139px;
  position: absolute;
  top: 22px;
  width: 20px;
}

.desktop-home .group-1 {
  height: 19px;
  left: 162px;
  position: absolute;
  top: 22px;
  width: 18px;
}

.desktop-home .group-2 {
  height: 19px;
  left: 183px;
  position: absolute;
  top: 22px;
  width: 16px;
}

.desktop-home .group-3 {
  height: 19px;
  left: 202px;
  position: absolute;
  top: 22px;
  width: 16px;
}

.desktop-home .group-4 {
  height: 19px;
  left: 221px;
  position: absolute;
  top: 22px;
  width: 4px;
}

.desktop-home .group-5 {
  height: 19px;
  left: 228px;
  position: absolute;
  top: 22px;
  width: 15px;
}

.desktop-home .group-6 {
  height: 19px;
  left: 246px;
  position: absolute;
  top: 22px;
  width: 18px;
}

.desktop-home .group-7 {
  height: 19px;
  left: 100px;
  position: absolute;
  top: 50px;
  width: 27px;
}

.desktop-home .group-8 {
  height: 19px;
  left: 130px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .group-9 {
  height: 19px;
  left: 148px;
  position: absolute;
  top: 50px;
  width: 14px;
}

.desktop-home .group-10 {
  height: 19px;
  left: 165px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .group-11 {
  height: 19px;
  left: 183px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .group-12 {
  height: 19px;
  left: 201px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .group-13 {
  height: 19px;
  left: 219px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .group-14 {
  height: 19px;
  left: 249px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .group-15 {
  height: 19px;
  left: 267px;
  position: absolute;
  top: 50px;
  width: 18px;
}

.desktop-home .group-16 {
  height: 19px;
  left: 288px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.desktop-home .mask-group {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 326px;
}

.desktop-home .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  margin-left: 1px;
  min-width: 198px;
}

.desktop-home .flex-col-1 {
  gap: 23px;
  margin-top: 4px;
  min-height: 59px;
  width: 18px;
}

.desktop-home .overlap-group1 {
  height: 128px;
  position: relative;
  width: 176px;
}

.desktop-home .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 162px;
}

.desktop-home .flex-col-2 {
  gap: 24px;
  min-height: 97px;
  width: 214px;
}

.desktop-home .flex-col-3 {
  min-height: 121px;
  width: 219px;
}

.desktop-home .overview-map2-2 {
  height: 1831px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 1440px;
}

.desktop-home .preview-block {
  align-items: flex-end;
  display: flex;
  height: 1021px;
  left: 0;
  padding: 151.6px 158px;
  position: absolute;
  top: 498px;
  width: 1440px;
}

.desktop-home .overlap-group22 {
  height: 668px;
  position: relative;
  width: 1123px;
}

.desktop-home .frame-4 {
  align-items: flex-start;
  cursor: pointer;
  height: 366px;
  left: 757px;
  min-width: 366px;
  top: 302px;
}

.desktop-home .overlap-group2 {
  border-radius: 35px;
  height: 366px;
  position: relative;
  width: 366px;
}

.desktop-home .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--stark-white);
  border-radius: 35px;
  box-shadow: inset 0px 1px 10px #00000033;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 366px;
  padding: 0.6px 0;
  position: absolute;
  top: 0;
  width: 366px;
}

.desktop-home .overlap-group-3 {
  height: 39px;
  margin-left: 22px;
  margin-top: 33px;
  position: relative;
  width: 237px;
}

.desktop-home .filter-download-as-csvsql {
  align-self: center;
  color: var(--shingle-fawn);
  font-family: var(--font-family-vollkorn);
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 25.0px;
  margin-top: 25px;
  min-height: 136px;
  width: 249px;
}

.desktop-home .coming-soon {
  color: var(--shingle-fawn);
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 46px;
  margin-top: 46px;
  min-height: 23px;
  width: 152px;
}

.desktop-home .line-5 {
  height: 1px;
  margin-top: 13px;
  object-fit: cover;
  width: 366px;
}

.desktop-home .right_-duo {
  align-self: flex-end;
  height: 48px;
  margin-right: 25px;
  width: 52px;
}

.desktop-home .image-6 {
  left: 295px;
  top: 321px;
}

.desktop-home .frame-3 {
  align-items: flex-end;
  background-image: url(../img/interactive-part@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 366px;
  justify-content: flex-end;
  left: 381px;
  min-width: 360px;
  padding: 4.4px 23px;
  top: 302px;
}

.desktop-home .image {
  height: 40px;
  object-fit: cover;
  width: 45px;
}

.desktop-home .frame-2 {
  align-items: flex-end;
  cursor: pointer;
  height: 288px;
  left: 381px;
  min-width: 742px;
  top: 0;
}

.desktop-home .storymap-part {
  height: 611px;
  margin-bottom: -322.64px;
  width: 742px;
}

.desktop-home .frame-1 {
  align-items: flex-start;
  cursor: pointer;
  height: 668px;
  justify-content: flex-end;
  left: 0;
  min-width: 365px;
  top: 0;
}

.desktop-home .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/about-part.png);
  background-size: 100% 100%;
  display: flex;
  height: 676px;
  justify-content: flex-end;
  margin-top: -4px;
  min-width: 372px;
  padding: 9px 24px;
}

.desktop-home .frame-5 {
  align-items: flex-start;
  border-radius: 40px;
  flex-direction: column;
  gap: 17px;
  left: 55px;
  min-height: 545px;
  top: 75px;
  width: 1004px;
}

.desktop-home .flex-row-1 {
  align-items: flex-end;
  display: flex;
  margin-left: -13px;
  margin-top: -58px;
  min-width: 1046px;
}

.desktop-home .overlap-group20 {
  height: 293px;
  position: relative;
  width: 317px;
}

.desktop-home .dark-green-container {
  height: 217px;
  top: 0;
}

.desktop-home .dark-green {
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
}

.desktop-home .dark-green-1 {
  height: 73px;
  top: 72px;
}

.desktop-home .dark-green-2 {
  height: 73px;
  top: 144px;
}

.desktop-home .overlap-group {
  height: 293px;
  left: 106px;
  position: absolute;
  top: 0;
  width: 211px;
}

.desktop-home .overlap-group-1 {
  height: 292px;
  left: 0;
  position: absolute;
  top: 0;
  width: 211px;
}

.desktop-home .overlap-group-2 {
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 211px;
}

.desktop-home .gradient {
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
}

.desktop-home .light-green {
  height: 73px;
  left: 105px;
  position: absolute;
  top: 0;
  width: 106px;
}

.desktop-home .gradient-1 {
  height: 73px;
  left: 0;
  top: 72px;
}

.desktop-home .gradient-2 {
  height: 73px;
  left: 0;
  top: 144px;
}

.desktop-home .light-green-1 {
  height: 73px;
  left: 105px;
  position: absolute;
  top: 72px;
  width: 106px;
}

.desktop-home .light-green-2 {
  height: 73px;
  left: 105px;
  position: absolute;
  top: 148px;
  width: 106px;
}

.desktop-home .gradient-3 {
  height: 73px;
  left: 0;
  top: 219px;
}

.desktop-home .light-green-3 {
  height: 73px;
  left: 106px;
  position: absolute;
  top: 220px;
  width: 106px;
}

.desktop-home .dark-green-3 {
  height: 73px;
  top: 219px;
}

.desktop-home .dark-green-container-1 {
  height: 217px;
  margin-bottom: 5.15px;
  margin-left: 92px;
  position: relative;
  width: 106px;
}

.desktop-home .dark-green-4 {
  height: 73px;
  top: 0;
}

.desktop-home .dark-green-5 {
  height: 73px;
  top: 72px;
}

.desktop-home .dark-green-6 {
  height: 73px;
  top: 144px;
}

.desktop-home .overlap-group7 {
  height: 217px;
  margin-bottom: 5.15px;
  position: relative;
  width: 211px;
}

.desktop-home .gradient-4 {
  height: 73px;
  left: 0;
  top: 0;
}

.desktop-home .gradient-5 {
  height: 73px;
  left: 0;
  top: 72px;
}

.desktop-home .gradient-6 {
  height: 73px;
  left: 0;
  top: 144px;
}

.desktop-home .light-green-5 {
  height: 73px;
  left: 105px;
  position: absolute;
  top: 144px;
  width: 106px;
}

.desktop-home .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 2.15px;
  margin-left: 3px;
  min-height: 220px;
  width: 211px;
}

.desktop-home .overlap-group18 {
  height: 73px;
  position: relative;
  width: 211px;
}

.desktop-home .dark-green-7 {
  height: 73px;
  top: 0;
}

.desktop-home .gradient-7 {
  height: 73px;
  left: 106px;
  top: 0;
}

.desktop-home .overlap-group-container-1 {
  height: 145px;
  position: relative;
  width: 211px;
}

.desktop-home .dark-green-container-2 {
  height: 145px;
  left: 0;
  position: absolute;
  top: 0;
  width: 106px;
}

.desktop-home .dark-green-8 {
  height: 73px;
  top: 0;
}

.desktop-home .dark-green-9 {
  height: 73px;
  top: 72px;
}

.desktop-home .gradient-container {
  height: 145px;
  left: 106px;
  top: 0;
}

.desktop-home .gradient-8 {
  height: 73px;
  left: 0;
  top: 0;
}

.desktop-home .gradient-9 {
  height: 73px;
  left: 0;
  top: 72px;
}

.desktop-home .light-green-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.57px;
  min-height: 218px;
  width: 106px;
}

.desktop-home .light-green-4 {
  height: 73px;
  width: 106px;
}

.desktop-home .overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  height: 300px;
  margin-left: -16px;
  min-width: 1046px;
}

.desktop-home .overlap-group21 {
  align-self: flex-end;
  height: 293px;
  position: relative;
  width: 317px;
}

.desktop-home .dark-green-10 {
  height: 73px;
  top: 0;
}

.desktop-home .dark-green-11 {
  height: 73px;
  top: 72px;
}

.desktop-home .dark-green-12 {
  height: 73px;
  top: 144px;
}

.desktop-home .gradient-10 {
  height: 73px;
  left: 0;
  top: 0;
}

.desktop-home .gradient-11 {
  height: 73px;
  left: 0;
  top: 72px;
}

.desktop-home .gradient-12 {
  height: 73px;
  left: 0;
  top: 144px;
}

.desktop-home .gradient-13 {
  height: 73px;
  left: 0;
  top: 219px;
}

.desktop-home .dark-green-13 {
  height: 73px;
  top: 219px;
}

.desktop-home .overlap-group16 {
  height: 293px;
  margin-left: 43px;
  position: relative;
  width: 317px;
}

.desktop-home .dark-green-14 {
  height: 73px;
  top: 0;
}

.desktop-home .dark-green-15 {
  height: 73px;
  top: 72px;
}

.desktop-home .dark-green-16 {
  height: 73px;
  top: 144px;
}

.desktop-home .gradient-14 {
  height: 73px;
  left: 0;
  top: 0;
}

.desktop-home .gradient-15 {
  height: 73px;
  left: 0;
  top: 72px;
}

.desktop-home .gradient-16 {
  height: 73px;
  left: 0;
  top: 144px;
}

.desktop-home .gradient-17 {
  height: 73px;
  left: 0;
  top: 219px;
}

.desktop-home .dark-green-17 {
  height: 73px;
  top: 219px;
}

.desktop-home .overlap-group17 {
  align-self: center;
  height: 293px;
  margin-bottom: 3.0px;
  margin-left: 52px;
  position: relative;
  width: 317px;
}

.desktop-home .dark-green-18 {
  height: 73px;
  top: 0;
}

.desktop-home .dark-green-19 {
  height: 73px;
  top: 72px;
}

.desktop-home .dark-green-20 {
  height: 73px;
  top: 144px;
}

.desktop-home .gradient-18 {
  height: 73px;
  left: 0;
  top: 0;
}

.desktop-home .gradient-19 {
  height: 73px;
  left: 0;
  top: 72px;
}

.desktop-home .gradient-20 {
  height: 73px;
  left: 0;
  top: 144px;
}

.desktop-home .gradient-21 {
  height: 73px;
  left: 0;
  top: 219px;
}

.desktop-home .dark-green-21 {
  height: 73px;
  top: 219px;
}

.desktop-home .image-5 {
  left: 1042px;
  top: 244px;
}

.desktop-home .mapping-western-han {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 42.0px;
  min-height: 150px;
  min-width: 697px;
  text-align: center;
}

.desktop-home .menu {
  align-items: center;
  background-color: var(--cararra);
  box-shadow: 0px 4px 10px #ded4c4;
  display: flex;
  gap: 203px;
  height: 93px;
  left: 0;
  overflow-y: scroll;
  padding: 1px 33.2px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-home .mapping-western-han-1 {
  align-self: flex-end;
  margin-left: 30px;
  width: 264px;
}

.desktop-home .group-container-1 {
  height: 79px;
  position: relative;
  width: 264px;
}

.desktop-home .clip-path-group-1 {
  height: 77px;
  left: 4px;
  position: absolute;
  top: 1px;
  width: 77px;
}

.desktop-home .group-17 {
  height: 16px;
  left: 113px;
  position: absolute;
  top: 18px;
  width: 16px;
}

.desktop-home .group-18 {
  height: 16px;
  left: 131px;
  position: absolute;
  top: 18px;
  width: 15px;
}

.desktop-home .group-19 {
  height: 16px;
  left: 148px;
  position: absolute;
  top: 18px;
  width: 13px;
}

.desktop-home .group-20 {
  height: 16px;
  left: 164px;
  position: absolute;
  top: 18px;
  width: 13px;
}

.desktop-home .group-21 {
  height: 16px;
  left: 179px;
  position: absolute;
  top: 18px;
  width: 3px;
}

.desktop-home .group-22 {
  height: 16px;
  left: 185px;
  position: absolute;
  top: 18px;
  width: 12px;
}

.desktop-home .group-23 {
  height: 16px;
  left: 199px;
  position: absolute;
  top: 18px;
  width: 14px;
}

.desktop-home .group-24 {
  height: 16px;
  left: 81px;
  position: absolute;
  top: 41px;
  width: 22px;
}

.desktop-home .group-25 {
  height: 16px;
  left: 105px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .group-26 {
  height: 16px;
  left: 120px;
  position: absolute;
  top: 41px;
  width: 11px;
}

.desktop-home .group-27 {
  height: 16px;
  left: 134px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .group-28 {
  height: 16px;
  left: 149px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .group-29 {
  height: 16px;
  left: 163px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .group-30 {
  height: 16px;
  left: 178px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .group-31 {
  height: 16px;
  left: 202px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .group-32 {
  height: 16px;
  left: 216px;
  position: absolute;
  top: 41px;
  width: 15px;
}

.desktop-home .group-33 {
  height: 16px;
  left: 234px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.desktop-home .mask-group-1 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 264px;
}

.desktop-home .navbar {
  align-items: center;
  display: flex;
  height: 24px;
  margin-bottom: 1.0px;
  min-width: 877px;
}

.desktop-home .navbar-link-about {
  min-width: 56px;
}

.desktop-home .navbar-link-members {
  margin-left: 25px;
  min-width: 78px;
}

.desktop-home .navbar-link-publications {
  margin-left: 25px;
  min-width: 117px;
}

.desktop-home .navbar-link-presentations {
  margin-left: 25px;
  min-width: 130px;
}

.desktop-home .navbar-link-storymap {
  margin-left: 25px;
  min-width: 90px;
}

.desktop-home .navbar-link-interactive-map {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
  min-height: 24px;
  min-width: 144px;
  text-align: center;
}

.desktop-home .group-8-1 {
  height: 8px;
  margin-bottom: 0.1px;
  margin-left: 4px;
  width: 11px;
}

.desktop-home .dark-green-22 {
  left: 0;
  position: absolute;
  width: 106px;
}

.desktop-home .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.desktop-home .frame {
  display: flex;
  position: absolute;
}

.desktop-home .gradient-22 {
  position: absolute;
  width: 106px;
}

.desktop-home .image-1 {
  height: 40px;
  object-fit: cover;
  position: absolute;
  width: 45px;
}

.desktop-home .mapping-western-han-3 {
  align-items: flex-start;
  display: flex;
}

.desktop-home .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  text-align: center;
}
