/* screen - prestations */

.prestations {
  align-items: flex-start;
  background-color: var(--spring-wood);
  border: 1px none;
  display: flex;
  height: 1633px;
  width: 1440px;
}

.prestations .overlap-group2 {
  align-items: center;
  background-image: url(../img/bg2.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  min-height: 1544px;
  width: 1440px;
  z-index: 1;
}

.prestations .title {
  letter-spacing: 2.40px;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 61px;
  min-height: 67px;
  min-width: 417px;
  text-align: center;
}

.prestations .x2022-october-18-p {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 82px;
  min-height: 889px;
  width: 966px;
}

.prestations .span-1 {
  text-decoration: underline;
}

.prestations .footer {
  align-items: flex-start;
  background-color: var(--fuscous-gray);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 304px;
  justify-content: flex-start;
  margin-top: 141px;
  mix-blend-mode: normal;
  padding: 53px 32px;
  width: 1440px;
}

.prestations .group-container {
  height: 97px;
  position: relative;
  width: 326px;
}

.prestations .clip-path-group {
  height: 94px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 96px;
}

.prestations .group {
  height: 19px;
  left: 139px;
  position: absolute;
  top: 22px;
  width: 20px;
}

.prestations .group-1 {
  height: 19px;
  left: 162px;
  position: absolute;
  top: 22px;
  width: 18px;
}

.prestations .group-2 {
  height: 19px;
  left: 183px;
  position: absolute;
  top: 22px;
  width: 16px;
}

.prestations .group-3 {
  height: 19px;
  left: 202px;
  position: absolute;
  top: 22px;
  width: 16px;
}

.prestations .group-4 {
  height: 19px;
  left: 221px;
  position: absolute;
  top: 22px;
  width: 4px;
}

.prestations .group-5 {
  height: 19px;
  left: 228px;
  position: absolute;
  top: 22px;
  width: 15px;
}

.prestations .group-6 {
  height: 19px;
  left: 246px;
  position: absolute;
  top: 22px;
  width: 18px;
}

.prestations .group-7 {
  height: 19px;
  left: 100px;
  position: absolute;
  top: 50px;
  width: 27px;
}

.prestations .group-8 {
  height: 19px;
  left: 130px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .group-9 {
  height: 19px;
  left: 148px;
  position: absolute;
  top: 50px;
  width: 14px;
}

.prestations .group-10 {
  height: 19px;
  left: 165px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .group-11 {
  height: 19px;
  left: 183px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .group-12 {
  height: 19px;
  left: 201px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .group-13 {
  height: 19px;
  left: 219px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .group-14 {
  height: 19px;
  left: 249px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .group-15 {
  height: 19px;
  left: 267px;
  position: absolute;
  top: 50px;
  width: 18px;
}

.prestations .group-16 {
  height: 19px;
  left: 288px;
  position: absolute;
  top: 50px;
  width: 15px;
}

.prestations .mask-group {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 326px;
}

.prestations .flex-row {
  gap: 4px;
  margin-left: 1px;
  min-width: 198px;
}

.prestations .overlap-group1 {
  height: 128px;
  position: relative;
  width: 176px;
}

.prestations .flex-container {
  flex-direction: column;
  gap: 3px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 162px;
}

.prestations .flex-col {
  flex-direction: column;
  gap: 24px;
  min-height: 97px;
  width: 214px;
}

.prestations .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 121px;
  width: 219px;
}

.prestations .menu {
  align-items: center;
  background-color: var(--cararra);
  box-shadow: 0px 4px 10px #ded4c4;
  display: flex;
  gap: 203px;
  height: 93px;
  left: 0;
  overflow-y: scroll;
  padding: 1px 35.2px;
  position: fixed;
  top: 0;
  width: 1440px;
  z-index: 2;
}

.prestations .logo1 {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  margin-left: 28px;
  width: 264px;
}

.prestations .group-container-1 {
  height: 79px;
  position: relative;
  width: 264px;
}

.prestations .clip-path-group-1 {
  height: 77px;
  left: 4px;
  position: absolute;
  top: 1px;
  width: 77px;
}

.prestations .group-17 {
  height: 16px;
  left: 113px;
  position: absolute;
  top: 18px;
  width: 16px;
}

.prestations .group-18 {
  height: 16px;
  left: 131px;
  position: absolute;
  top: 18px;
  width: 15px;
}

.prestations .group-19 {
  height: 16px;
  left: 148px;
  position: absolute;
  top: 18px;
  width: 13px;
}

.prestations .group-20 {
  height: 16px;
  left: 164px;
  position: absolute;
  top: 18px;
  width: 13px;
}

.prestations .group-21 {
  height: 16px;
  left: 179px;
  position: absolute;
  top: 18px;
  width: 3px;
}

.prestations .group-22 {
  height: 16px;
  left: 185px;
  position: absolute;
  top: 18px;
  width: 12px;
}

.prestations .group-23 {
  height: 16px;
  left: 199px;
  position: absolute;
  top: 18px;
  width: 14px;
}

.prestations .group-24 {
  height: 16px;
  left: 81px;
  position: absolute;
  top: 41px;
  width: 22px;
}

.prestations .group-25 {
  height: 16px;
  left: 105px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .group-26 {
  height: 16px;
  left: 120px;
  position: absolute;
  top: 41px;
  width: 11px;
}

.prestations .group-27 {
  height: 16px;
  left: 134px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .group-28 {
  height: 16px;
  left: 149px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .group-29 {
  height: 16px;
  left: 163px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .group-30 {
  height: 16px;
  left: 178px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .group-31 {
  height: 16px;
  left: 202px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .group-32 {
  height: 16px;
  left: 216px;
  position: absolute;
  top: 41px;
  width: 15px;
}

.prestations .group-33 {
  height: 16px;
  left: 234px;
  position: absolute;
  top: 41px;
  width: 12px;
}

.prestations .mask-group-1 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 264px;
}

.prestations .navbar {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  margin-bottom: 1.0px;
  min-width: 875px;
}

.prestations .navbar-link-about {
  cursor: pointer;
  min-width: 56px;
}

.prestations .navbar-link-members {
  cursor: pointer;
  min-width: 78px;
}

.prestations .navbar-link-publications {
  cursor: pointer;
  min-width: 117px;
}

.prestations .navbar-link-presentations {
  min-width: 130px;
}

.prestations .navbar-link-storymap {
  cursor: pointer;
  min-width: 90px;
}

.prestations .navbar-link-interactive-map {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 144px;
  text-align: center;
}

.prestations .dropdown {
  height: 8px;
  margin-bottom: 0.09px;
  width: 11px;
}

.prestations .line-1 {
  height: 1px;
  left: 857px;
  object-fit: cover;
  position: fixed;
  top: 58px;
  width: 129px;
  z-index: 3;
}

.prestations .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  text-align: center;
}
